@model IEnumerable<EmployeeViewModel>


<h3 class="display-4">Employees</h3>

<div class="text-center">
    <a href="" class="btn btn-default btn-rounded mb-4" data-toggle="modal" data-target="#modalContactForm">
       Add Employee
    </a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <td>
                <b>Id</b>
            </td>
            <td>
                <b>Name</b>
            </td>
            <td>
                <b>Department</b>
            </td>
            <td>
            </td>
        </tr>

    </thead>
    @foreach (var employee in Model)
    {
    <tr>
        <td>@employee.Id</td>
        <td>@employee.Name</td>
        <td>@employee.Department</td>
        <td>
            <button class="btn btn-primary employeeDetails" data-id="@employee.Id"> Details</button>
            <button class="btn btn-info employeeEdit" data-id="@employee.Id"> Edit</button>
            <button class="btn btn-danger employeeDelete" data-id="@employee.Id"> Delete</button>
        </td>
    </tr>
    }
</table>

<div id="EmployeeCard">

</div>

<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h4 class="modal-title w-100 font-weight-bold">Add Employee</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body mx-3">
                <div class="md-form mb-5">
                    <i class="fas fa-user prefix grey-text"></i>
                    <input type="text" id="insertName" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="insertName">Name</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fas fa-envelope prefix grey-text"></i>
                    <input type="email" id="insertDepartment" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="insertDepartment">Department</label>
                </div>

                <div class="md-form mb-5">
                    <i class="fas fa-tag prefix grey-text"></i>
                    <input type="number" id="insertAge" class="form-control validate">
                    <label data-error="wrong" data-success="right" for="insertAge">Age</label>
                </div>

                <div class="md-form">
                    <i class="fas fa-pencil prefix grey-text"></i>
                    <textarea type="text" id="insertAddress" class="md-textarea form-control" rows="4"></textarea>
                    <label data-error="wrong" data-success="right" for="insertAddress">Address</label>
                </div>

            </div>
            <div class="modal-footer d-flex justify-content-center">
                <button class="btn btn-unique" id="btnAddSave">Save <i class="fas fa-paper-plane-o ml-1"></i></button>
            </div>
        </div>
    </div>
</div>





@section Scripts{

    <script src="~/js/employee.js"></script> }




